<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skillhunternaim.anotherloser.cryptopad">

    <application
        android:allowBackup="true"
        android:icon="@drawable/notepadforapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/notepadforapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Notes" />
        <activity android:name=".NewNote" />
        <activity android:name=".ShowNote"></activity>
    </application>

</manifest>